mixin result()

    +b('section').result 
        +e('h3').title Результат
        +e.output
            +e('h3').answer Ваш идеальный вампир&nbsp;&mdash; Эдвард Каллен из&nbsp;саги &laquo;Сумерки&raquo;.
            +e('p').text Романтичный интроверт, который готов всегда быть рядом и&nbsp;защищать от&nbsp;всех опасностей. Но&nbsp;есть загвоздка: он&nbsp;женат! Так что советуем обратить внимание на&nbsp;другого вампира&nbsp;&mdash; графа Дракулова в&nbsp;исполнении неподражаемого Михаила Галустяна. Познакомиться с&nbsp;ним можно уже <span>21&nbsp;октября</span>, когда на&nbsp;экраны выйдет фильм с&nbsp;одноименным названием.
            +e.actions 
                +e(href='#section2').btn Пройти тест снова
            +e.sharing
                +sharing(true)
        +e.img
            img(src=`/images/16+.png`)