mixin promo()

    +b('section').promo
        +e.wrap
            +e.content
                +e('h3').title С&nbsp;каким вампиром тебя ждёт свидание?
                +e('p').text Уже более ста лет&nbsp;&mdash; с&nbsp;тех пор как Брэм Стокер выпустил в&nbsp;мир графа Дракулу, пугающего и&nbsp;одновременно романтичного,&nbsp;&mdash; образ загадочного незнакомца, полного темных тайн и&nbsp;желания отведать человеческой крови (а&nbsp;взамен подарить вечную жизнь и&nbsp;молодость), будоражит умы. Впрочем, вампир вампиру рознь! Одни питают порочную страсть к&nbsp;бархатным плащам с&nbsp;капюшонами, другие спят вниз головой, зацепившись ногами за&nbsp;вешалку в&nbsp;шкафу, третьи не&nbsp;отражаются в&nbsp;зеркале... Да&nbsp;и&nbsp;по&nbsp;характеру они тоже различны. А&nbsp;какой вампир подходит именно вам и&nbsp;с&nbsp;кем следует отправиться на&nbsp;свидание при первой&nbsp;же возможности?
                +e('p').info Узнайте, ответив на&nbsp;вопросы теста!
            +e.sharing
                +sharing()
        +e.img
            img(src=`/images/16+.png`)
        +e('span').arrow
            img(src='/images/arrow.svg')